* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.grid {
  display: flex;
  flex-direction: row;
  border:1px solid grey;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}


.grid div {
  width: 20%;
  height: 20%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Number {
  font-size:4em;
  font-weight: bold;
}

.score_board {
  width: 25%;
  display: flex;
  justify-content: space-between;
}